body {
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    background: black;
}

i {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 45vh;
    color: red;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, .6);
    width: 5em;
    padding: 1em;
    background: white;
    cursor: pointer;
    animation: jiggle 2s ease-in infinite;
}

@keyframes jiggle {
    48%, 62% {
        transform: scale(1.0, 1.0)
    }
    50% {
        transform: scale(1.1, 0.9)
    }
    56% {
        transform: scale(0.9, 1.1) translate(0, -5px)
    }
    59% {
        transform: scale(1.0, 1.0) translate(0, -3px)
    }
}